/* general */
:root {
	--c-primary: #0080FF;
	--c-primary-accent: #005CE3;
	--c-primary-dark: #1c2f56;
	--c-primary-dark-accent: #233e74;
	--c-primary-light: #93abdc;
	--c-love: #f23d5c;
	--c-love-accent: #b92f51;
	--c-neutral: #45454b;
	--c-neutral-accent: #34343a;
	--c-neutral-light: #ffffff;
	--c-neutral-light-accent: #cacad8;
	--c-twitter: #1d9bf0;
	--c-linkedin: #0a66c2;
	--content-width: 1080px;
	--featured-height: 450px;
	--border-radius: 3px;
}

html, body {
	background: white;
	color: black;
	font-family: 'Open Sans', X-LocaleSpecific, sans-serif;
	font-size: 15px;
	letter-spacing: 0.025em;
	margin: 0;
	padding: 0;
}

/* elements */
h1 {
	font-size: 3rem;
	font-weight: 200;
	margin: .25rem 0;
}
h2 {
	font-size: 2rem;
	font-weight: 400;
	margin: .5rem 0;
}
h3 {
	font-size: 1.5rem;
	font-weight: 400;
	margin: .5rem 0;
}
h4 {
	font-size: 1rem;
	font-weight: 600;
}
hr {
	height: 1px;
	border: none;
	background: var(--c-neutral-accent);
}
a, a:link {
	color: var(--c-neutral-accent);
	transition: all .15s ease-in-out;
}
a:hover {
	color: var(--c-primary-accent);
}
.btn {
	border-radius: var(--border-radius);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	font-weight: 600;
	padding: .75rem 1.25rem;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
}
.btn.btn-primary {
	background: linear-gradient(135deg, var(--c-primary) 0%, var(--c-primary-accent) 100%);
	color: white;
}
.btn.btn-love {
	background: linear-gradient(135deg, #f23d5c 0%, #b92f51 100%);
	color: white;
}
.btn.btn-neutral {
	background: linear-gradient(135deg, var(--c-neutral) 0%, var(--c-neutral-accent) 100%);
	color: white;
}
.btn.btn-neutral-light {
	background: linear-gradient(135deg, var(--c-neutral-light) 0%, var(--c-neutral-light-accent) 100%);
}
.btn.btn-link {
	padding: .25rem 0;
	color: var(--c-neutral-accent);
	text-transform: initial;
	box-shadow: none;
	text-decoration: underline;
}
.category {
	border-radius: var(--border-radius);
	display: inline-block;
	font-size: .85rem;
	font-weight: 600;
	padding: 0 .25rem;
	text-transform: uppercase;
}
.emoji {
	display: inline;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em;
	vertical-align: -0.1em;
	background: none;
}

/* global page elements */
header {
	align-items: center;
	background: var(--c-primary-dark);
	box-shadow: 0 10px 15px 0 rgba(0,0,0,0.3);
	color: white;
	display: flex;
	gap: 2rem;
	height: 72px;
	padding: 0 1rem;
	position: sticky;
	top: 0;
	z-index: 50;
}
header .logo img {
	flex-grow: 0;
	height: 48px;
}
header nav ul {
	display: flex;
	gap: 1.5rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
header .actions {
	display: flex;
	gap: .5rem;
}
footer {
	background: black;
	color: white;
	margin-top: 5rem;
	padding: 3rem 2rem 5rem 2rem;
}
footer .logo {
	display: block;
	text-align: center;
	margin-bottom: 2rem;;
}
footer .logo img {
	height: 48px;
}
footer hr {
	max-width: var(--content-width);
	margin: 3rem auto;
}
footer .columns {
	display: flex;
	flex-wrap: wrap;
	max-width: var(--content-width);
	margin: 0 auto;
	gap: 1rem;
	justify-content: space-between;
}
footer .columns section {
	min-width: 180px;
}
footer .columns section ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
footer .columns section ul.inline {
	display: flex;
	gap: 2rem;
}
footer .columns section ul li {
	font-size: .9rem;
	margin-bottom: .75rem;
}

/* landing page content */
main > .featured {
	background: linear-gradient(135deg, var(--c-primary-dark-accent) 0%, var(--c-primary-dark) 100%);
	display: flex;
	height: var(--featured-height);
	justify-content: center;
	margin-bottom: 3rem;
	padding: 0 1rem;
}
main > .featured article {
	position: relative;
	color: white;
	margin: 2rem 0 3rem 0;
	max-width: var(--content-width);
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	gap: 2rem;
}
main > .featured img {
	max-height: calc(var(--featured-height) - 6rem);
	width: 100%;
}
main > .featured article .category {
	background: white;
	color: var(--c-primary-dark-accent);
}
main > .featured article .meta {
	color: var(--c-primary-light);
	display: flex;
	gap: 1.5rem;
}
main > .featured article .meta ion-icon {
	margin-bottom: 3px;
	vertical-align: middle;
}
main > .featured article .description {
	margin: 2rem 0 3rem 0;
}
main > .articles {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	max-width: var(--content-width);
	margin: 2rem auto;
	padding: 0 1rem;
}
main > .articles article {
	box-shadow: 0 5px 15px -10px rgba(0, 0, 0, 0.6), 0 0 3px rgba(0, 0, 0, 0.1);
	padding: 1rem;
}
main > .articles article .thumb {
	height: 12rem;
	margin: -1rem -1rem 1rem -1rem;
	background-size: cover;
	background-position: center;
}
main > .articles article > a:not(.btn) {
	color: black;
	display: inline-block;
	text-decoration: none;
}
main > .articles article > a:not(.btn):hover {
	text-decoration: underline;
}
main > .articles article .categories {
	margin: 0;
	padding: 0;
	display: flex;
	gap: .5rem;
}
main > .articles article .categories .category {
	background:  var(--c-primary-dark-accent);
	color: white;
}
main > .articles article .summary {
	margin: .25rem 0;
}

/* single article content */
main.post {
	max-width: var(--content-width);
	margin: 2rem auto;
	padding: 0 1rem;
}
main.post .title-image {
	width: auto;
	max-width: 100%;
	max-height: 600px;
	display: block;
	margin: 0 auto;
}
main.post .content,
main.post .comments {
	max-width: 768px;
	margin: 3rem auto;
}
main.post .content .category {
	background:  var(--c-primary-dark-accent);
	color: white;
}
main.post .content .meta {
	margin-bottom: 3rem;
	display: flex;
	gap: 1.5rem;
}
main.post .content .meta ion-icon {
	margin-bottom: 3px;
	vertical-align: middle;
}
main.post .content h2 {
	margin-top: 3rem;
}
main.post .content figure {
	margin: 1rem 0;
}
main.post .content figure img {
	width: 100%;
}
main.post .content figure figcaption {
	text-align: center;
}
main.post .social {
	margin: 4rem 0 0 0;
	border-top: 1px solid var(--c-neutral-light-accent);
	display: flex;
	justify-content: center;
	gap: 2rem;
	font-size: 2rem;
	padding-top: 1.5rem;
}
main.post .social a {
	color: var(--c-neutral);
}
main.post .social a:hover {
	transform: scale(1.1);
}
main.post .social a.social-twitter:hover {
	color: var(--c-twitter);
}
main.post .social a.social-linkedin:hover {
	color: var(--c-linkedin);
}
main.post .comments h2 {
	margin: 2rem 0;
}
main.post .comments .comment {
	display: grid;
	grid-template: 
		"avatar  meta"    auto
		"avatar  quote"   auto
		"replies replies" auto / 64px auto;
	gap: 1rem;
}
main.post .comments .comment > .avatar {
	grid-area: avatar;
}
main.post .comments .comment > h3 {
	font-size: 1rem;
	margin: 0;
	grid-area: meta;
}
main.post .comments .comment > blockquote {
	margin: 0;
	grid-area: quote;
}
main.post .comments .comment > .replies {
	grid-area: replies;
}
main.post .comments .comment > .replies > .comment {
	margin: 1rem 0 0 2.5rem;
}
main.post .comments > .comment ~ .comment {
	margin-top: 3rem;
}

/* responsivness */
.show-m,
.show-l,
.show-xl {
	display: none;
}
@media screen and (min-width: 640px) {
	/* break: S -> M */
	main > .articles {
		grid-template-columns: 1fr 1fr;
	}
	main > .featured article .description {
		max-width: 60%;
	}
	.hide-m {
		display: none;
	}
	.show-m {
		display: initial;
	}
}
@media screen and (min-width: 1000px) {
	/* break: M -> L */
	main > .articles {
		grid-template-columns: 1fr 1fr 1fr;
	}
	main > .featured article {
		grid-template-columns: 3fr 2fr;
	}
	.show-l {
		display: initial;
	}
}
@media screen and (min-width: 1200px) {
	/* break: L -> XL */
	.show-xl {
		display: initial;
	}
}

/* utilities */
.text-center {
	text-align: center;
}
.ml-auto {
	margin-left: auto;
}
